div#login-area, div#signup-area{
    background-color: rgba(133, 32, 220, 0.356);
    margin: 0 auto; 
    border-radius: 4px;
  }
  
  label.form-label{
    font-weight: 700;
  }
  
  div.btn-wrapper{
    display: flex;
    justify-content: center;
  }
  
  input.form-control{
    background-color: rgb(39, 39, 39);
    border: none;
    color: white;
  }
  
  div.form-text{
    font-size: 0.6em;
  }
  
  input.form-control::placeholder{
    color: rgb(171, 171, 171);
    font-size: 0.7em;
  }
  
  input.form-control:focus{
    background-color: rgb(39, 39, 39);
    color: aliceblue;
    box-shadow: 0 0 3px 0.25rem rgba(230, 201, 254, 0.25);
  }
  
  
  .submit-btn{
    background-color: rgb(115, 0, 209);
    color:aliceblue;
    border-radius: 4px;
    outline: none;
    border: none;
    padding: 8px 12px;
    transition: background-color 0.2s ease-out;
  }
  
  .submit-btn:hover{
    background-color: rgb(123, 39, 233);
  }
  
  #signup-area, #login-area{
    width: 40%;
  }
  
  .prompt-msg{
    font-size: 0.8em
  }
  
  .prompt-link{
    color: rgb(85, 2, 153);
    font-size: 1.15em;
    font-weight: 800;
    transition: color 0.1s ease-out;
    cursor: pointer;
  }
  
  .prompt-link:hover{
    color: rgb(107, 34, 204);
  }