.grid-parent{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(24, 1fr);
    width: 70%;
    height: 60vh;
    margin: 0 auto;
    border-radius: 6px;
    overflow-y: scroll;
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
    background-color: rgba(255, 255, 255, 0.5);
}

.time-square{
    padding: 4px;
    text-align: center;
    border-left: none;
    border-right: solid rgb(228, 228, 228) 1px;
    border-bottom: solid rgb(228, 228, 228) 1px;;
    background-color: rgba(123, 52, 161, 0.7) !important;
    height: 8vh;
}

.time-square:nth-child(1){
    border-top: 0;
}

.time-square:nth-child(24){
    border-bottom: 0;
}

.task-square{
    background-color: rgba(212, 192, 231, 0.7);
    border-bottom: solid rgb(228, 228, 228) 1px;
    height: 8vh;
}

