/* ========== General Styles =========== */
*{
    font-family: 'Montserrat', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
  }
  
  #landing-container{
    background-image: url('../../assets/login-bg-compressed.jpg');
    background-size: cover;
  }
  
  /* hide scrollbar from chrome */
  div#body ::-webkit-scrollbar {
    display: none;
  }

  .link-btn-wrapper{
    display: flex;
    justify-content: center;
  }
  
  div#colour-filter{
    max-width: 100vw;
    min-height: 100vh;
    background-color: rgba(106, 0, 199, 0.432);
    box-sizing: border-box;
  }
  
  div#content{
    color: black;
    min-width: 100%;
    overflow: hidden;
  }
  
  /* ========== Banner styles ========== */

  div#landing-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(194, 140, 227, 0.1);
    border-radius: 5px;
  }

  .banner-side-item{
    width: 25%;
  }

  .banner-text, #time-right-now{
    font-size: 1.4em;
    color: rgb(45, 8, 58);
    font-weight: 700;
  }
  
  div#logo-wrapper{
    width: 100%;
    height: 17vh;
    margin: 0 auto;
  }
  
  
  div#logo-wrapper img{
      width: 100%;
  }

  /* ========== Tagline styles ========== */
  
  div#tagline-wrapper{
    margin: 4% 0;
  }
  
  #tagline{
    font-weight: 900;
    color: black
  }
  