
*{
  font-family: 'Montserrat', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
}

  /* hide scrollbar from chrome */
  div#landing-container ::-webkit-scrollbar {
    display: none;
  }

.link-btn-wrapper{
  display: flex;
  justify-content: center;
}

a{
  text-decoration: none;
  color: white;
}